/*header*/
body {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	margin: 0;
	color: #676d79;
}

.header-section {
	margin: 0px auto;
	background-color: #3c424d;
	color: #f5f2ec;
	height: 62px;
	align-items: center;
	position: relative;
	display: flex;
	width: 100%;
}

.center-element {
	height: 50%;
	position: absolute;
}

.left1 {
	left: 14px;
	align-items: center;
	display: flex;
}

.right1 {
	right: 14px;
	align-items: center;
	display: flex;
}

.header-text {
	font-weight: 600;
	font-size: 19px;
	line-height: 1.75;
	margin: 10px;
	cursor: pointer;
}

.header-menu {
	font-size: 15px;
	font-weight: 600;
	border: 1px solid;
	border-radius: 7px;
	border-color: #575d69;
	margin: 0px 12px 0 9px;
	display: flex;
}

.selector {
	float: left;
	padding: 11px;
	cursor: pointer;
	border-radius: 7px;
}

.selector.active{
	border-color: #676d79;
	background: #676d79;
}

.icon-social {
	padding: 11px;
	cursor: pointer;
}

.element-social {
	padding: 1px 7px;
	border-radius: 3px;
	font-size: 13px;
}

.color-facebook {
	background: #4267b2;
	border: 1px solid #4267b2;
}

.color-tweet {
	background-color: #1b95e0;
}

.header-pop-out {
	cursor: pointer;
}

.element-upload-icon {
	font-size: 23px;
	padding: 7px;
}

.side-bar {
	opacity: 1;
	transition: all 0.5s ease;
	position: relative;
	float: left;
	width: 23%;
	background-color: #f5f6f7;
	font-size: 16px;
}

.clear-fix {
	overflow: auto;
}

.search-section {
	padding: 22px;
	margin: -21px;
	width: 100%;
	position: relative;
	background-color: #eff1f2;
	margin-bottom: 38px;
}

input#search-menu {
	border: 1px solid #eff1f2;
	border-radius: 6px;
	padding: 0 27px 0 17px;
	height: 36px;
	width: 100%;
	display: block;
	outline: none;
	color: #7f888f;
}

input#search-menu:focus {
	border-color: #f56a6a;
	box-shadow: 0 0 0 1px #f56a6a;
}

.cover-sidebar {
	padding: 21px 23px 21px 21px;
}

.search-icon {
	font-size: 16px;
	margin: auto;
	position: absolute;
	top: 42%;
	right: 9%;
}
.flex {
	display: flex;
}

.label-sidebar-menu {
	font-size: 17px;
	font-weight: 600;
	border-bottom: solid 3px #f56a6a;
	color: #3d4449;
	padding: 10px 10px 10px 0;
	display: inline-block;
}

.label-content {
	font-size: 13px;
	padding: 15px 0 15px 0;
	cursor: pointer;
	border-top: solid 1px rgba(210, 215, 217, 0.75);	
}

.header-sidebar-menu {
	margin-bottom: 31px;
}

.content-sidebar-menu {
	padding: 0;
	list-style: none;
}
.content-sidebar-menu > li:first-child {
	border-top: 0;
}

li.label-content:hover {
	color: #f56a6a;
	transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
}

.sidebar-menu {
	margin-bottom: 40px;
	padding-bottom: 15px;
	border-bottom: solid 2px #D9D9D9;
}

.graph-image {
	background: no-repeat;
	cursor: pointer;
	transition: transform 0.2s ease;
	width: 100%;
	height: 164px;
	display: inline-block;
	border-radius: 0.375em;
}
.image-bear {
	background-image: url(https://html5up.net/uploads/demos/editorial/images/pic07.jpg);
}

.image-mountain {
	background-image: url(https://html5up.net/uploads/demos/editorial/images/pic08.jpg);
}

.image-laptop {
	background-image: url(https://html5up.net/uploads/demos/editorial/images/pic09.jpg);
}

.graph {
	margin: 33px 0 0 0;
	padding-bottom: 33px;
	border-bottom: solid 1px #D9D9D9;
}

.graph-content {
	margin-top: 18px;
}

.graph-text {
	font-size: 15px;
	text-align: left;
	color: #7f888f;
}

span.graph-image:hover {
	-moz-transition: -moz-transform 0.2s ease;
	-webkit-transition: -webkit-transform 0.2s ease;
	-ms-transition: -ms-transform 0.2s ease;
	transition: transform 0.2s ease;
}

.last-one {
	border-bottom:none;
}

.sidebar-graph {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: solid 2px #D9D9D9;
}

.more-graph-button {
	display: inline-block;
	border: solid 2px #f56a6a;
	cursor: pointer;
	border-radius: 4px;
	padding: 6px 18px 6px 18px;
	color: #f56a6a;
}

.more-graph-button:hover {
	background-color: rgba(245, 106, 106, 0.15); 
}

@media only screen and (min-width: 680px) {
	.sidebar {
		background-color: #3e86ce !important;
	}
}

.sidebar-footer .graph-content {
	padding-top: 21px;
}

.contact {
	padding: 22px 0 0 0;
	font-size: 13px;
}

.contact-element {
	padding: 15px 0;
	border-top: solid 1px #D9D9D9;
	display:inline-flex;
}

.icon-contact {
	color: #f56a6a;
	padding-right: 12px;
	font-size: 15px;
}

.main-body {
	padding: 80px 70px 10px 70px;
}

.header-body {
	border-bottom: solid 5px #f56a6a;
	border-radius: 3px;
	padding-bottom: 23px;
}

.left-block {
	width: 50%;
	float: left;
}

.header-body span{
	font-size: 17px;
	font-weight: 600;
}

.right-block {
	float: right;
	text-align: right;
	width: 50%;
}

.section-body {
	position: relative;
	float: left;
	width: 77%;
}

.right-block span{
	font-size: 22px;
	padding-left: 16px;
	color: #7f888f;
	cursor: pointer;
}

.right-block span:hover {
	color: #f56a6a;
}

.cover-block {
	padding: 0 47px 0 0;
}

.label-h1 {
	font-size: 52px;
	font-weight: 600;
}

.title-graph {
	font-size: 18px
}

.main-body .graph-header {
	margin-bottom: 31px;
}

.main-graph {
	font-size: 17px;
	letter-spacing: 1px;
}

.graph-content .main-graph {
	margin-bottom: 26px;
}

.graph-content .more-graph-button {
	padding: 10px 53px 10px 53px;
	font-size: 18px;
	line-height: 26px;
}

.first-block, .second-block, .third-block {
	padding-bottom: 66px;
	display: inline-block;
	padding-top: 65px;
	border-bottom: solid 2px #D9D9D9;
}

.right-block img {
	width: 100%;
	height: 100%;
	border-radius: 7px;
}

.second-block .label-sidebar-menu, .third-block .label-sidebar-menu  {
	font-size: 29px;
	padding-right: 19px;
}

.icon-feature {
	float: left;
	width: 130px;
	height: 130px;
	line-height: 10em;
}

.feature-single {
	width: 50%;
	position: relative;
	display: flex;
	float: left;
	align-items: center;
}

.feature-content {
	float: left;
	margin: 22px;
	width: calc(100% - 183px);
	justify-content: center;
}

.features {
	margin-top: 60px;
}

.feature-header {
	padding: 14px 17px 14px 17px;
	font-size: 19px;
	font-weight: 600;
}

.feature-graph {
	padding: 0 17px;
}

.icon-feature:before {
	content: '';
	border: solid 1px #D9D9D9;
	width: 91px;
	height: 91px;
	display: block;
	transform: rotate(45deg);
	position: absolute;
	margin-top: 19px;
	margin-left: 19px;
}

.icon-graph {
	display: flex;
	justify-content: center;
	font-size: 2.75rem;
}

.icon-graph > svg {
	color: #f56a6a;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.third-block {
	width: 100%;
	border: none;
}

.third-block .graph {
	margin: 0;
	display: inline-block;
	width: calc(50% - 1px);
	border: none;
}

.graph-header input {
	width: 100%;
}

.posts {
	margin-top: 25px;
	width: 100%;
	display: inline-table;
}

.cover-graph {
	margin-right: 36px;
}

.three-dot {
	cursor: pointer;
    position: absolute;
    color: #f56a6a;
    top: 10px;
    left: 18px;
    font-size: 30px;
}

.hidden-sideBar {
	width: 0;
	opacity: 0;
}

.expand-main-body {
	width: 100%;
}